.slide {
  width: 375px;
  height: 812px;
  background-color: #eeece5;
  margin: 0 auto;
  font-family: "Nanum Brush Script", cursive;
  font-family: "Nanum Gothic", sans-serif;
}
header {
  width: 100%;
}
header .iphone {
  width: 100%;
}
.title-wrap__avatar {
  width: 327px;
  height: 44px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px 0px;
}
.title-wrap__avatar > .avatar_img {
  width: 44px;
  height: 100%;
}
.title-wrap__avatar > h2.title-wrap_title {
  font-size: 18px;
  font-weight: 700;
}
.title-wrap__avatar > .title-wrap__icon-wrap {
  width: 66px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
/* header */
#account-status {
  width: 279px;
  height: 155px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#account-status > .bank-account {
  display: flex;
  position: relative;
}
.bank-account > .account {
  margin: 0 auto;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.24px;

  color: #858585;
}
.bank-account > .transfer {
  position: absolute;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  right: 7px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.24px;

  color: #000000;
}
.bank-amount {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 2px;

  color: #000000;
}
.graph-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.graph-wrap > .graph {
  width: 202px;
  height: 17px;
  background: red;
}
.graph-wrap > .graph-btn {
  margin-left: 7px;
}
#account-status > .balance-amount {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  color: #858585;
}
h3.ad-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 21px;
}
/*#account-status  */
#history-wrap-box {
}
#history-wrap::-webkit-scrollbar {
  display: none;
}
#history-wrap {
  width: 100%;
  height: 383px;
  background: #f5f5f5;
  overflow: scroll;
  scrollbar-width: 0;
  /* 사용내역 그림자 */
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
  position: relative;
}
#history-wrap > .drag-btn {
  width: 102px;
  height: 16.15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag-btn > div {
  background: #c4c4c4;
  border-radius: 4px;
  margin: 10px 0px;
  width: 48px;
  height: 2.15px;
}
#history-wrap > ul.goal-wrap {
  width: 308px;
  height: 49px;
  overflow: scroll;
  scrollbar-width: none;
  overflow-y: hidden;
  margin: 0 auto;
}
#history-wrap > ul.goal-wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#history-wrap > ul.goal-wrap > div {
  width: 455px;
  height: 49px;
  display: flex;
}
.goal-btn {
  width: 162px;
  height: 47px;
  background: #dadada;
  margin-right: 13px;
  border-radius: 6px;
}
.goal-btn > .color-box {
  background-color: red;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  border-radius: 6px 0px 0px 6px;
}
.color-orange {
  background-color: #feb100;
}
/* 왜 오랜지가 안될까 */
.goal-btn > .color-box > p {
  width: 60%;
}
/* 목표하는 금액 모으기 */
.day-money-wrap {
  height: auto;
  width: 302px;
  margin: 0 auto;
}
.day-use-wrap {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 8px 0;
}
.day-use-wrap > .day {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.day-use-wrap > .day-spend {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #b4b4b4;
}
.day-money-wrap > .daytotal > ul.money-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.day-money-wrap > .daytotal > ul.money-history > li.history_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  width: 302px;
  height: 34px;
  border-bottom: 1px solid #dcdcdc;
}
/* history wrap */
#nav {
  height: 76px;
}
#nav > .nav_icon-wrap {
  background-color: #00bdb2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#nav > .nav_icon-wrap > li > img {
  width: 100%;
}
